@import "variables";
@import "normalize";


/* Global */
body {
    font-family: 'Open Sans', sans-serif;
    color: $text-color;
    background-color: white;
}

a {
    text-decoration: none;
    color: $text-color;
    
    &:hover {
        color: $hover-color;
    }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Layout */ 


.container {
    display: flex;
		margin:	0	auto;
    // max-width:	740px;
  }
  
/* Navigation */ 

.main-header {
    display: flex;
    margin: 0 auto;
    background-color: $header--background-color;
    flex-direction: column;
    align-items: center;
}

.main-nav {
    a {
      display: block;
      padding: 7px;
      background-color: white;
      border-radius: 4px;  
    }  
}

/* Layout header  */

 .main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center; //kan waarschijnlijk verwijderd worden
      
    .name {
        align-self: center;
    }
    
    li {
        align-self: center;
        width: 85%;
        margin: 10px;
        text-align: center;
    }  
    
    @media screen and (min-width: 769px) {
      flex-direction: row;
    }
  
    @media screen and (min-width: 1024px) {
      
    }
}

/* About me */ 

.about {
  display: flex;
  flex-direction: column;
  
  @media screen and (min-width: 769px) {
      flex-direction: row-reverse;
  }  
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  margin-top: 30px;
  align-self: center;  
}

.about-me {
    color: $text-color-about;
    margin: 30px;
    text-align: center;
    
    @media screen and (min-width: 769px) {
        text-align: left;
        align-self: center;
        max-width: 500px;
      }
}

.portfolio-title {
  display: flex;
  justify-content: center;
}

  /* Layout portfolio */
  
section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media screen and (min-width: 769px) {
    flex-direction: row;
    flex-flow: wrap;
    }
}

.column	{
      display: flex;
      margin:	10px;
      border: solid 5px blue; 
      flex-direction: column;
      align-items: center;
      max-width: 400px;
      
      p {
        text-align: center;
        margin: 10px;
      }
    }
      
  .portfolio-images {
    width: 100%;
  }
  
  /* Layout contact */
    
#contact {
    flex-direction: column;
    text-align: center;
    margin:  0 20px 0 20px ;
  }
  
  .tel, .mail {
    font-weight: 900;
    padding-left: 15px;
  }
  
  
.seperator {
    border-top: 2px solid black;
    width: 85%;
    margin: 30px 0 30px 0;
    border-radius: 3px;
    align-self: center;
  }
  
    /* Layout footer */
  
.nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 30px 0;
    
      li {
        padding: 0 20px 0 20px;
      }
    
      #footer-1 {
        margin-right: auto;
      }
  } 
  
