@import "variables";
@import "normalize";

/* Global */
body {
    font-family: 'Open Sans', sans-serif;
    color: $text-color;
    background-color: white;
}

a {
    text-decoration: none;
    color: $text-color;
    
    &:hover {
        color: $hover-color;
    }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
/* Header & Navigation */ 
.l-wrapper {
  background-color: $header--background-color;
}



.main-header {
    max-width: 1260px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
}

.main-nav {
  display: flex;
  flex-direction: column;
    
  .name {
      align-self: center;
      
      @media screen and (min-width: 1024px) {
        margin-right: auto;
      }
  }
  
  a {
    display: block;
    padding:  10px 100px 10px 100px;
    background-color: white;
    border-radius: 4px;  
    
    @media screen and (min-width: 769px) {
      padding:  10px 50px 10px 50px;
    }
  }  
  
  li {
      align-self: center;
      width: 85%;
      margin: 10px;
      text-align: center;
  }  
  
  @media screen and (min-width: 769px) {
    flex-direction: row;
  }
}

/* About me */ 

.about {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
  @media screen and (min-width: 769px) {
      flex-direction: row-reverse;
      justify-content: center;
      max-width: 840px;
  }  
  
  @media screen and (min-width: 1024px) {
    justify-content: space-between;
    max-width: 1260px;
  }
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  margin: 30px 0 30px 0;
  align-self: center;  
}

.about-me {
    color: $text-color-about;
    margin: 0 30px 30px 0;
    text-align: center;
    font-size: 20px;
    
    @media screen and (min-width: 769px) {
        text-align: left;
        align-self: center;
      }
}

.portfolio-title {
  display: flex;
  justify-content: center;
}

/* Layout portfolio */
  
section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media screen and (min-width: 769px) {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: baseline;
    }
}

.column	{
    display: flex;
    margin:	10px;
    // border: solid 5px blue; 
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    
    p {
      text-align: center;
      margin: 10px;
    }
}
      
.portfolio-images {
    width: 100%;
}
  
/* Layout contact */
    
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 530px;
    
    @media screen and (min-width: 769px) {
      max-width: 840px;
    }  
    
    @media screen and (min-width: 1024px) {
      max-width: 1260px;
    }
  }
  
.tel, .mail {
    font-weight: 900;
    padding-left: 15px;
  }
  
.seperator {
    border-top: 1px solid black;
    width: 95%;
    margin: 15px 0 5px 0;
    border-radius: 3px;
    align-self: center;
  }
  
  /* Layout footer */
  
.nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 530px;
    margin: 0 auto;
    
      li {
        padding: 20px;
      }
      
      @media screen and (min-width: 769px) {
        max-width: 840px;
      }  
      
      @media screen and (min-width: 1024px) {
        max-width: 1260px;
      }
    }
    
    #footer-2, #footer-3, #footer-4 {
      display: none;
    }
      
      @media screen and (min-width: 769px) {  
      #footer-1 {
        margin-right: auto;
      }
      #footer-2, #footer-3, #footer-4 {
        display: inherit;
      }
      
      #footer-5 {
        display: none;
    }
  } 
